[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
six = "*"

# TODO add pytest and pyyaml, remove dev-requirements.txt
[dev-packages]

[requires]
python_version = "3.6"
